/* This file is for your main application css. */


.histogram {
  border: 1px solid black;
  width: 256px;
  height: 100px;
  margin: 15px;
}


.dominant {
  border: 1px solid black;
  width: 174px;
  height: 40px;
  margin: 15px;
  display: inline-block;
}